.project-profile{

}

.project-profile h1{
    font-size: 10px;
}

.project-profile img{
    
    border-radius: 50%;
    border: 5px solid green;
}

.project-card{
    gap: 20px;
}

.project-card span {
    position: absolute;
    top: 0;
    left:0;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 67px;
    border-radius: 2px;
}

.card-body h1{
    font-size: 10px;
}